<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tasks</title>
</head>
<body>
    <h1>Tasks</h1>
    <form action="/" method="POST">
        <input name="name"/>
        <input type="submit" value="Add task">
    </form>
    <ul>
    {% for task in tasks %}
        <div>
            <input id="checkbox_id_{{task.id}}" type="checkbox" onclick='handleClick(this, "{{task.id}}");' {% if task.status.value == "done" %} checked {% endif %}>
            {{ task.name }}
            <form action="/{{task.id}}"  method="POST">
                <input type="submit" value="Delete task">
            </form>
        </div>
    {% endfor %}
    </ul>
    <script>
        function handleClick(cb, task_id) {
            const checkbox = document.getElementById("checkbox_id_" + task_id);
            const status = checkbox.checked ? "done" : "created";

            const data = {
                status
            }

            const url = `/${task_id}`;

            fetch(url, {
                method: "PUT",
                body: JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json",
                }
            });
        }
    </script>
</body>
</html>
